/* Reset Styles
/*---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
    color: black;
    background: white;
}

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
    cursor: pointer;
}

/* make buttons play nice in IE:
		www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
    width: auto;
    overflow: visible;
}

/* Input Styles
/*---------------------------------------------*/
input,
textarea,
select {
    font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #55606E;
    background: #FFF;
    border: 1px solid #C2C6CB;
    height: 40px;
    line-height: 1.2;
    margin: 0 0 10px 0;
    padding: 0 10px;
    outline: 0;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}

input:focus,
textarea:focus,
select:focus {
    border-color: #8B8F95;
}

label {
    color: #555;
}

/* Main Styles
/*---------------------------------------------*/
html,
body {
    height: 100%;
}

body {
    font: 14px 'Open Sans', Helvetica, Arial, Helvetica, sans-serif;
    color: #222;
    background: #2EAE9B;
    overflow: hidden;
    box-sizing: border-box;
}

/* Login Styles
/*---------------------------------------------*/
#login {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#login .wrapper {
    width: 100%;
    background: #707070;
    color: #fff;
}

#login .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 80px 0;
    text-align: center;
}

#login a,
#login a:visited {
    color: #2eae9b;
}

#login .intro pre {
    background: #fff;
    border-radius: 3px;
    padding: 5px 14px;
	color: black;
    text-align: left;
}

#login .intro h1 {
    font-size: 40px;
    margin-bottom: 16px;
}

#login-form form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
}

#login-form input {
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 1);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: #2eae9b;
    transition-duration: 0.25s;
    font-weight: 300;
}

#login-form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#login-form input:focus {
    background-color: white;
    width: 300px;
    color: #53e3a6;
}

#login-form button {
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
}

#login-form button:hover {
    background-color: #f5f7f9;
}
